<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <display-name>SeaBattle</display-name>
    
    <servlet>
        <servlet-name>SeaBattleServelet</servlet-name>
        <servlet-class>seaBattle</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SeaBattleServelet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>